@charset "UTF-8";
/* 
@include on-event()
on event 

*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
body.modal-open {
  overflow: hidden;
}

main {
  display: block;
}

section {
  display: block;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.container {
  display: block;
  max-width: 1440px !important;
  margin: 0 auto;
  width: 95%;
  padding: 0;
}
@media only screen and (max-width: 480px) {
  .container {
    width: 90%;
  }
}

.container-fluid {
  display: block;
  width: 100%;
  max-width: 100%;
}

.row {
  display: flex;
  flex-flow: row wrap;
  max-width: 100%;
  width: 100%;
}

.page {
  margin: 0;
}

@font-face {
  font-family: "futura";
  src: url("/assets/fonts/futuraBold.woff") format("woff"), url("/assets/fonts/futuraBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "futura";
  src: url("/assets/fonts/futuraLight.woff") format("woff"), url("/assets/fonts/futuraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

h1.item-none {
  display: none;
}

p,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

/**
* Characters to escape from SVGs
* Source: https://github.com/Threespot/frontline-sass/blob/master/src/variables/_escape-chars.scss
*/
/**
 * Helper to get URL-escaped inline SVG code
 */
:root {
  --svg-arrow-more: url("data:image/svg+xml, %3Csvg%20xmlns=%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20fill=%27none%27%20viewBox=%270%200%2021%2012%27%3E%3Cpath%20fill=%27%231D1D1B%27%20fill-rule=%27evenodd%27%20d=%27M14.778%200L13.68%201.058l4.34%204.192H0v1.5h18.021l-4.34%204.193L14.778%2012%2021%206l-6.222-6z%27%20clip-rule=%27evenodd%27%3E%3C%2Fpath%3E%3C%2Fsvg%3E ");
  --svg-bg-card: url("data:image/svg+xml, %3Csvg%20xmlns=%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20xmlns%3Axlink=%27http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%27%20width=%27500%27%20zoomAndPan=%27magnify%27%20viewBox=%270%200%20375%20374.999991%27%20height=%27500%27%20preserveAspectRatio=%27xMidYMid%20meet%27%20version=%271.0%27%3E%3Cdefs%3E%3CclipPath%20id=%2753909b2ac7%27%3E%3Cpath%20d=%27M%20149.84375%20132.296875%20L%20225.152344%20132.296875%20L%20225.152344%20242.617188%20L%20149.84375%20242.617188%20Z%20M%20149.84375%20132.296875%20%27%20clip-rule=%27nonzero%27%2F%3E%3C%2FclipPath%3E%3CclipPath%20id=%277a67339f21%27%3E%3Cpath%20d=%27M%20187.496094%20132.367188%20L%20225.152344%20160.492188%20L%20225.152344%20214.492188%20L%20187.496094%20242.617188%20L%20149.84375%20214.492188%20L%20149.84375%20160.492188%20Z%20M%20187.496094%20132.367188%20%27%20clip-rule=%27nonzero%27%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cg%20clip-path=%27url%28%2353909b2ac7%29%27%3E%3Cg%20clip-path=%27url%28%237a67339f21%29%27%3E%3Cpath%20fill=%27%23919191%27%20d=%27M%20149.84375%20242.617188%20L%20149.84375%20132.296875%20L%20225.152344%20132.296875%20L%20225.152344%20242.617188%20Z%20M%20149.84375%20242.617188%20%27%20fill-opacity=%271%27%20fill-rule=%27nonzero%27%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E ");
  --svg-facebook: url("data:image/svg+xml, %3Csvg%20xmlns=%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox=%270%200%2023%2023%27%20fill=%27none%27%3E%3Cpath%20d=%27M1.70001%2011.5C1.70001%2016.9123%206.08762%2021.2999%2011.5%2021.2999C16.9124%2021.2999%2021.3%2016.9123%2021.3%2011.5C21.3%206.08756%2016.9124%201.69995%2011.5%201.69995C6.08762%201.69995%201.70001%206.08756%201.70001%2011.5Z%27%20fill=%27%23DFF5FC%27%2F%3E%3Cpath%20d=%27M11.5%2021.2999C6.08762%2021.2999%201.70001%2016.9123%201.70001%2011.5C1.70001%206.08756%206.08762%201.69995%2011.5%201.69995C16.9124%201.69995%2021.3%206.08756%2021.3%2011.5C21.3%2016.9123%2016.9124%2021.2999%2011.5%2021.2999ZM11.5%2021.2999V10.1C11.5%208.55355%2012.7536%207.29995%2014.3%207.29995H15M8.00001%2012.9H15%27%20stroke=%27%231C1C1C%27%20stroke-width=%271.5%27%2F%3E%3C%2Fsvg%3E ");
  --svg-linkedin: url("data:image/svg+xml, %3Csvg%20xmlns=%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox=%270%200%2020%2021%27%20fill=%27none%27%3E%3Cpath%20d=%27M2.00492%207.75965H5.52098V18.3406H2.00492V7.75965ZM3.78648%202.65918C2.58309%202.65918%201.79688%203.44922%201.79688%204.48617C1.79688%205.5018%202.56008%206.31481%203.74047%206.31481H3.76289C4.9893%206.31481%205.75305%205.50176%205.75305%204.48617C5.73004%203.44922%204.98934%202.65918%203.78648%202.65918ZM14.1539%207.51109C12.2875%207.51109%2011.4514%208.53766%2010.9849%209.25758V7.75965H7.46781C7.51437%208.75227%207.46781%2018.3406%207.46781%2018.3406H10.9849V12.4314C10.9849%2012.115%2011.0079%2011.7996%2011.1005%2011.5729C11.3551%2010.9411%2011.9338%2010.2869%2012.9045%2010.2869C14.178%2010.2869%2014.6866%2011.2576%2014.6866%2012.6794V18.3405H18.2031V12.2732C18.2031%209.02328%2016.4687%207.51109%2014.1539%207.51109Z%27%20fill=%27%23DFF5FC%27%2F%3E%3C%2Fsvg%3E ");
  --svg-x: url("data:image/svg+xml, %3Csvg%20xmlns=%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox=%270%200%2014%2015%27%20fill=%27none%27%3E%3Cpath%20d=%27M8.22234%206.51787L13.0004%201.08325H11.8683L7.71764%205.80107L4.40497%201.08325H0.583313L5.59385%208.21806L0.583313%2013.9166H1.7154L6.09586%208.93325L9.59499%2013.9166H13.4166L8.22234%206.51787ZM6.67128%208.28069L6.16284%207.56978L2.12366%201.91836H3.86277L7.12347%206.48093L7.62978%207.19184L11.8677%2013.1222H10.1286L6.67128%208.28069Z%27%20fill=%27%23DFF5FC%27%2F%3E%3C%2Fsvg%3E ");
  --svg-instagram: url("data:image/svg+xml, %3Csvg%20xmlns=%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox=%270%200%2020%2019%27%20fill=%27none%27%3E%3Cpath%20d=%27M13.6%201.1001H6.39998C3.74901%201.1001%201.59998%203.24913%201.59998%205.9001V13.1001C1.59998%2015.7511%203.74901%2017.9001%206.39997%2017.9001H13.6C16.2509%2017.9001%2018.4%2015.7511%2018.4%2013.1001V5.9001C18.4%203.24913%2016.2509%201.1001%2013.6%201.1001Z%27%20fill=%27%23DFF5FC%27%2F%3E%3Cpath%20d=%27M6.39998%209.5001C6.39998%2011.4883%208.01175%2013.1001%209.99998%2013.1001C11.9882%2013.1001%2013.6%2011.4883%2013.6%209.5001C13.6%207.51187%2011.9882%205.9001%209.99998%205.9001C8.01175%205.9001%206.39998%207.51187%206.39998%209.5001Z%27%20fill=%27%23DFF5FC%27%2F%3E%3Cpath%20d=%27M14.2%204.7001H15.4M6.39998%201.1001H13.6C16.2509%201.1001%2018.4%203.24913%2018.4%205.9001V13.1001C18.4%2015.7511%2016.2509%2017.9001%2013.6%2017.9001H6.39997C3.74901%2017.9001%201.59998%2015.7511%201.59998%2013.1001V5.9001C1.59998%203.24913%203.74901%201.1001%206.39998%201.1001ZM9.99998%2013.1001C8.01175%2013.1001%206.39998%2011.4883%206.39998%209.5001C6.39998%207.51187%208.01175%205.9001%209.99998%205.9001C11.9882%205.9001%2013.6%207.51187%2013.6%209.5001C13.6%2011.4883%2011.9882%2013.1001%209.99998%2013.1001Z%27%20stroke=%27%231C1C1C%27%20stroke-width=%271.5%27%2F%3E%3C%2Fsvg%3E ");
  --svg-youtube: url("data:image/svg+xml, %3Csvg%20xmlns=%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox=%270%200%2018%2019%27%20fill=%27none%27%3E%3Cpath%20d=%27M17.475%205.97451C17.475%205.82451%2017.25%204.62451%2016.725%204.09951C16.05%203.34951%2015.3%203.27451%2014.925%203.27451H14.85C12.525%203.12451%209.075%203.12451%209%203.12451C9%203.12451%205.475%203.12451%203.15%203.27451H3.075C2.7%203.27451%201.95%203.34951%201.275%204.09951C0.75%204.69951%200.525%205.89951%200.525%206.04951C0.525%206.12451%200.375%207.47451%200.375%208.89951V10.1745C0.375%2011.5995%200.525%2012.9495%200.525%2013.0245C0.525%2013.1745%200.75%2014.3745%201.275%2014.8995C1.875%2015.5745%202.625%2015.6495%203.075%2015.7245C3.15%2015.7245%203.225%2015.7245%203.3%2015.7245C4.65%2015.8745%208.775%2015.8745%208.925%2015.8745C8.925%2015.8745%2012.45%2015.8745%2014.775%2015.7245H14.85C15.225%2015.6495%2015.975%2015.5745%2016.65%2014.8995C17.175%2014.2995%2017.4%2013.0995%2017.4%2012.9495C17.4%2012.8745%2017.55%2011.5245%2017.55%2010.0995V8.82451C17.625%207.47451%2017.475%206.04951%2017.475%205.97451ZM11.925%209.64951L7.425%2012.0495C7.35%2012.0495%207.35%2012.1245%207.275%2012.1245C7.2%2012.1245%207.125%2012.1245%207.125%2012.0495C7.05%2011.9745%206.975%2011.8995%206.975%2011.7495V6.87451C6.975%206.72451%207.05%206.64951%207.125%206.57451C7.2%206.49951%207.35%206.49951%207.5%206.57451L12%208.97451C12.15%209.04951%2012.225%209.12451%2012.225%209.27451C12.225%209.42451%2012.075%209.57451%2011.925%209.64951Z%27%20fill=%27%23DFF5FC%27%2F%3E%3C%2Fsvg%3E ");
}

.masked-card {
  display: block;
  height: 160px;
  width: 110px;
  padding: 10px;
  background-color: red;
  -webkit-mask-image: var(--svg-bg-card);
          mask-image: var(--svg-bg-card);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
  position: relative;
}

.masked-card {
  display: block;
  height: 160px;
  width: 110px;
  padding: 10px;
  background-color: red;
  -webkit-mask-image: var(--svg-bg-card);
          mask-image: var(--svg-bg-card);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
  position: relative;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInUP {
  0% {
    opacity: 0;
    top: 20px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
@keyframes scaleAnimationCirc {
  0%, 100% {
    transform: scale(0.5);
    background: #f00;
    filter: blur(0px); /* Quitar el filtro al inicio y al final */
  }
  50% {
    transform: scale(0.7);
    background: #f00;
    filter: blur(0.25px); /* Aplicar el filtro de desenfoque durante la animación */
  }
}
.prueba {
  height: 500px;
  background-color: red;
}/*# sourceMappingURL=styles.css.map */