
@font-face {
  font-family: "futura";
  src: url("/assets/fonts/futuraBold.woff") format("woff"),
       url("/assets/fonts/futuraBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "futura";
  src: url("/assets/fonts/futuraLight.woff") format("woff"),
       url("/assets/fonts/futuraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

$futura : "futura","sans-sheriff";

//@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
//font-family: 'Montserrat', sans-serif;


