$svg-icons:(
    arrow-more:'<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 21 12"><path fill="#1D1D1B" fill-rule="evenodd" d="M14.778 0L13.68 1.058l4.34 4.192H0v1.5h18.021l-4.34 4.193L14.778 12 21 6l-6.222-6z" clip-rule="evenodd"></path></svg>',
    border-card:'<svg xmlns="http://www.w3.org/2000/svg" width="130" height="150" viewBox="0 0 132 150" preserveAspectRatio="xMidYMid meet"><path fill="transparent" stroke-width="1" stroke="#000" d="M 66 0 L 131 37.5 L 131 112.5 L 66 150 L 1 112.5 L 1 37.5 Z" /></svg>',
    bg-card:'<svg xmlns="http://www.w3.org/2000/svg" width="130" height="150" viewBox="0 0 132 150" preserveAspectRatio="xMidYMid meet"><path fill="#000" stroke-width="1" stroke="#000" d="M 66 0 L 131 37.5 L 131 112.5 L 66 150 L 1 112.5 L 1 37.5 Z" /></svg>',
    facebook:'<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 23 23" fill="none"><path d="M1.70001 11.5C1.70001 16.9123 6.08762 21.2999 11.5 21.2999C16.9124 21.2999 21.3 16.9123 21.3 11.5C21.3 6.08756 16.9124 1.69995 11.5 1.69995C6.08762 1.69995 1.70001 6.08756 1.70001 11.5Z" fill="#DFF5FC"/><path d="M11.5 21.2999C6.08762 21.2999 1.70001 16.9123 1.70001 11.5C1.70001 6.08756 6.08762 1.69995 11.5 1.69995C16.9124 1.69995 21.3 6.08756 21.3 11.5C21.3 16.9123 16.9124 21.2999 11.5 21.2999ZM11.5 21.2999V10.1C11.5 8.55355 12.7536 7.29995 14.3 7.29995H15M8.00001 12.9H15" stroke="#1C1C1C" stroke-width="1.5"/></svg>',
    linkedin:'<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 21" fill="none"><path d="M2.00492 7.75965H5.52098V18.3406H2.00492V7.75965ZM3.78648 2.65918C2.58309 2.65918 1.79688 3.44922 1.79688 4.48617C1.79688 5.5018 2.56008 6.31481 3.74047 6.31481H3.76289C4.9893 6.31481 5.75305 5.50176 5.75305 4.48617C5.73004 3.44922 4.98934 2.65918 3.78648 2.65918ZM14.1539 7.51109C12.2875 7.51109 11.4514 8.53766 10.9849 9.25758V7.75965H7.46781C7.51437 8.75227 7.46781 18.3406 7.46781 18.3406H10.9849V12.4314C10.9849 12.115 11.0079 11.7996 11.1005 11.5729C11.3551 10.9411 11.9338 10.2869 12.9045 10.2869C14.178 10.2869 14.6866 11.2576 14.6866 12.6794V18.3405H18.2031V12.2732C18.2031 9.02328 16.4687 7.51109 14.1539 7.51109Z" fill="#DFF5FC"/></svg>',
    x:'<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 15" fill="none"><path d="M8.22234 6.51787L13.0004 1.08325H11.8683L7.71764 5.80107L4.40497 1.08325H0.583313L5.59385 8.21806L0.583313 13.9166H1.7154L6.09586 8.93325L9.59499 13.9166H13.4166L8.22234 6.51787ZM6.67128 8.28069L6.16284 7.56978L2.12366 1.91836H3.86277L7.12347 6.48093L7.62978 7.19184L11.8677 13.1222H10.1286L6.67128 8.28069Z" fill="#DFF5FC"/></svg>',
    instagram:'<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 19" fill="none"><path d="M13.6 1.1001H6.39998C3.74901 1.1001 1.59998 3.24913 1.59998 5.9001V13.1001C1.59998 15.7511 3.74901 17.9001 6.39997 17.9001H13.6C16.2509 17.9001 18.4 15.7511 18.4 13.1001V5.9001C18.4 3.24913 16.2509 1.1001 13.6 1.1001Z" fill="#DFF5FC"/><path d="M6.39998 9.5001C6.39998 11.4883 8.01175 13.1001 9.99998 13.1001C11.9882 13.1001 13.6 11.4883 13.6 9.5001C13.6 7.51187 11.9882 5.9001 9.99998 5.9001C8.01175 5.9001 6.39998 7.51187 6.39998 9.5001Z" fill="#DFF5FC"/><path d="M14.2 4.7001H15.4M6.39998 1.1001H13.6C16.2509 1.1001 18.4 3.24913 18.4 5.9001V13.1001C18.4 15.7511 16.2509 17.9001 13.6 17.9001H6.39997C3.74901 17.9001 1.59998 15.7511 1.59998 13.1001V5.9001C1.59998 3.24913 3.74901 1.1001 6.39998 1.1001ZM9.99998 13.1001C8.01175 13.1001 6.39998 11.4883 6.39998 9.5001C6.39998 7.51187 8.01175 5.9001 9.99998 5.9001C11.9882 5.9001 13.6 7.51187 13.6 9.5001C13.6 11.4883 11.9882 13.1001 9.99998 13.1001Z" stroke="#1C1C1C" stroke-width="1.5"/></svg>',
    youtube:'<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 19" fill="none"><path d="M17.475 5.97451C17.475 5.82451 17.25 4.62451 16.725 4.09951C16.05 3.34951 15.3 3.27451 14.925 3.27451H14.85C12.525 3.12451 9.075 3.12451 9 3.12451C9 3.12451 5.475 3.12451 3.15 3.27451H3.075C2.7 3.27451 1.95 3.34951 1.275 4.09951C0.75 4.69951 0.525 5.89951 0.525 6.04951C0.525 6.12451 0.375 7.47451 0.375 8.89951V10.1745C0.375 11.5995 0.525 12.9495 0.525 13.0245C0.525 13.1745 0.75 14.3745 1.275 14.8995C1.875 15.5745 2.625 15.6495 3.075 15.7245C3.15 15.7245 3.225 15.7245 3.3 15.7245C4.65 15.8745 8.775 15.8745 8.925 15.8745C8.925 15.8745 12.45 15.8745 14.775 15.7245H14.85C15.225 15.6495 15.975 15.5745 16.65 14.8995C17.175 14.2995 17.4 13.0995 17.4 12.9495C17.4 12.8745 17.55 11.5245 17.55 10.0995V8.82451C17.625 7.47451 17.475 6.04951 17.475 5.97451ZM11.925 9.64951L7.425 12.0495C7.35 12.0495 7.35 12.1245 7.275 12.1245C7.2 12.1245 7.125 12.1245 7.125 12.0495C7.05 11.9745 6.975 11.8995 6.975 11.7495V6.87451C6.975 6.72451 7.05 6.64951 7.125 6.57451C7.2 6.49951 7.35 6.49951 7.5 6.57451L12 8.97451C12.15 9.04951 12.225 9.12451 12.225 9.27451C12.225 9.42451 12.075 9.57451 11.925 9.64951Z" fill="#DFF5FC"/></svg>',
    
);

/**
* Characters to escape from SVGs
* Source: https://github.com/Threespot/frontline-sass/blob/master/src/variables/_escape-chars.scss
*/
$fs-escape-chars: (
  " ": "%20",
  "'": "%22",
  '"': "%27",
  "#": "%23",
  "/": "%2F",
  ":": "%3A",
  "(": "%28",
  ")": "%29",
  "%": "%25",
  "<": "%3C",
  ">": "%3E",
  "\\":"%5C",
  "^": "%5E",
  "{": "%7B",
  "|": "%7C",
  "}": "%7D",
);

/**
 * Helper to get URL-escaped inline SVG code
 */
@function svg($name) {
  // Check if icon exists
  @if not map-has-key($svg-icons, $name) {
    @error 'icon “#{$name}” does not exists in $svg-icons map';
    @return false;
  }

  // Get icon data
  $icon-map: map-get($svg-icons, $name);

  $escaped-string: "";
  $unquote-icon: unquote($icon-map);
  // Loop through each character in string
  @for $i from 1 through str-length($unquote-icon) {
    $char: str-slice($unquote-icon, $i, $i);

    // Check if character is in symbol map
    $char-lookup: map-get($fs-escape-chars, $char);

    // If it is, use escaped version
    @if $char-lookup != null {
      $char: $char-lookup;
    }

    // Append character to escaped string
    $escaped-string: $escaped-string + $char;
  }

  // Return inline SVG data
  @return url("data:image/svg+xml, #{$escaped-string} ");
}

:root{
  @each $name, $code in $svg-icons {
    --svg-#{$name}: #{svg($name)};
  }
}

.masked-card{
  display: block;
  mask-image: var(--svg-border-card);
  mask-repeat: no-repeat;
  mask-position: center;
}

.masked-bg-card{
  display: block;
  mask-image: var(--svg-bg-card);
  mask-repeat: no-repeat;
  mask-position: center;
}

.masked-arrow {
  display: block;
  mask-image: var(--svg-arrow-more);
  mask-repeat: no-repeat;
  mask-position: center;
}