// **** BREAKPOINTS - SIZE ****
$breakpoints-mq--480: 480px; 
$breakpoints-mq--768: 768px; 
$breakpoints-mq--960: 960px; 
$breakpoints-mq--1024: 1024px; 
$breakpoints-mq--1200: 1200px; 
$breakpoints-mq--1440: 1440px; 
$breakpoints-mq--1336: 1366px; 
$breakpoints-mq--1920: 1920px; 
$breakpoints-mq--2000: 2000px; 

$grid-container: 1440px;

// **** TRANSITIONS ****
$linear-fast: .1s linear;
$linear-medium: .3s linear;
$linear-slow: .5s linear;
$ease-fast: .1s ease-in-out;
$ease-medium: .3s ease-in-out;
$ease-slow: .5s ease-in-out;
$easein-fast: .1s ease-in;
$easein-medium: .3s ease-in;
$easein-slow: .5s ease-in;
$easeout-fast: .1s ease-out;
$easeout-medium: .3s ease-out;
$easeout-slow: .5s ease-out;

// **** OTHERS ****
$columngap-medium: 20px;
$navbar-height: 190px;
$navbar-height--mobile: 90px;

// **** COLORS ****
$black-charcoal: #131313;
$dark-background: #1D1A1A;
$grey-dark: #646366;
$grey-medium: #808080;
$grey-light: #A5A5A5;
$grey-super-light: #ddd1cd;
$lines: #2a2a2a;
$red-chilli: #F8203A;
$green: #4DC07B;
$white-salt: #F6EFED;
$purewhite: #fff;

//CREAR CLASES DE COLOR
// Definimos la lista de variables de color
$colors: (
    black-charcoal:$black-charcoal,
    dark-background:$dark-background,
    grey-dark:$grey-dark,
    grey-medium:$grey-medium,
    grey-light:$grey-light,
    grey-super-light:$grey-super-light,
    lines:$lines,
    red-chilli:$red-chilli,
    white-salt:$white-salt,
    purewhite: $purewhite
);

// Generamos las clases de texto para cada variable de color
@each $color, $value in $colors {
    .color-#{$color} {
        color: $value;
    }
}

// Generamos las clases de background para cada variable de color
@each $color, $value in $colors {
    .bg-#{$color} {
        background-color: $value;
    }
}